
<div class="text-center">
    <img src="~/images/avatar-sm.png" />
    <br />
    <h1 class="display-4 hi">Hi</h1>
    <br />
    <h3>I'm Aaron.</h3>
    <br />
    <h5>A Full Stack Developer.</h5>
    <br/>
    <p>I created this site to show off some of my skills building a website. This site is built with ASP.Net and hosted on Azure.</p>
    <br />
    <p>Mr. Cat's Bad Night is created using <a href="http://phaser.io/">Phaser 3</a> and written using ES6.</p>
    <br />
    <p>Website styling is done with <a href="https://nostalgic-css.github.io/NES.css/">NES.css</a> and <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap 4</a>.</p>
    <br />
    <p>You can find the git repo <a href="https://github.com/Greatwon/Personal-Website">here</a>.</p>
    <br />
    <p>High Scores are saved to an Azure Cosmos Database.</p>
</div>
