@page
@model law.m.aaron.Pages.AboutModel
@{
}

<div class="container">
    <div class="about-heading">
        <h2>Aaron Law</h2>
        <a href="https://www.linkedin.com/in/aaron-law-24471376/"><i class="nes-icon linkedin is-medium"></i></a>
        <a href="https://github.com/Greatwon"><i class="nes-icon github is-medium"></i></a>
    </div>
    <a href="mailto:law.m.aaron@gmail.com">law.m.aaron@gmail.com</a>
    <h6>London, Ontario, Canada</h6>
    <br />
    <p>I am a software developer with experience in :</p>
    <ul>
        <li> Java</li>
        <li> Kotlin</li>
        <li> Objective C</li>
        <li> Swift</li>
        <li> C#</li>
        <li> Angular</li>
        <li> SQL</li>
        <li> Azure</li>
        <li> .NET Framework</li>
    </ul>
    <br />
    <section class="showcase">
        <section class="nes-container is-dark with-title">
            <h3 class="title">Experience</h3>
            <br />
            <section class="nes-container is-dark with-title">
                <h5 class="title">Goodlife Fitness</h5>
                <h5>Full Stack Developer</h5>
                <h6>Feb. 2020 - Present</h6>
                <p>Develop and maintain exising customer website.</p>
            </section>
            <br />
            <section class="nes-container is-dark with-title">
                <h5 class="title">ZTR Control Systems</h5>
                <h5>Mobile Developer</h5>
                <h6>Feb. 2018 - Feb. 2020</h6>
                <p>Bluetooth tracking application on Android.</p>
                <p>Customer Application for Android and iOS.</p>
                <br />
                <h5>Front End Developer</h5>
                <h6>Jan. 2016 - Jan. 2018</h6>
                <p>Developer on customer facing web application.</p>
                <br />
                <h5>Co-op Programmer</h5>
                <h6>Sep. 2014 - Dec. 2015</h6>
                <p>Added Features to the company website.</p>
                <p>Created desktop applications to schedule reports.</p>
            </section>
            <br />
            <section class="nes-container is-dark with-title">
                <h5 class="title">Sobeys</h5>
                <h5>Seafood Monger</h5>
                <h6>Feb. 2014 - Aug. 2015</h6>
                <p>Cut, wrap, and filled the seafood counters.</p>
            </section>
            <br />
            <section class="nes-container is-dark with-title">
                <h5 class="title">Toyota</h5>
                <h5>Team Member - Summer Student</h5>
                <h6>Apr. 2013 - Sep. 2013</h6>
                <p>Worked in weld shop, building hoods and doors.</p>
            </section>
            <br />
            <section class="nes-container is-dark with-title">
                <h5 class="title">Papa John's</h5>
                <h5>Assistant Manager</h5>
                <h6>Dec. 2009 - Aug. 2013</h6>
                <p>Responsible for creating schedule and ordering products.</p>
                <p>Ran all work stations.</p>
                <p>Handling customer complaints.</p>
                <br />
            </section>
        </section>
    </section>
    <br />
    <section class="showcase">
        <section class="nes-container is-dark with-title">
            <h3 class="title">Education</h3>
            <h5>Fanshaew College</h5>
            <h5>Computer Programming (CPA)</h5>
            <h6>2012 - 2015</h6>
        </section>
    </section>
</div>

