@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h3>This is a wesbite to show off my knowledge of Azure, and ASP.NET.</h3>
    <br />
    <h3>TODO: List off more technoligies used.</h3>
</div>
