<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aaron Law</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?version=20201004" asp-append-version="true" />

    <!-- JS -->
    <script src="//cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"></script>

    <style>
        html, body, pre, code, kbd, samp {
            font-family: "Press Start 2P";
        }
    </style>

    <!-- Google Verification -->
    <meta name="google-site-verification" content="IAis7qILUi-Gj6txG1c2ei2b_qkBa0OeMMDcXCTLmpc" />
</head>
<body>
    <div class="container-fluid fixed-top py-3">
        <div class="row collapse show no-gutters d-flex h-100 position-relative">
            <div class="col-3 px-0 w-sidebar navbar-collapse collapse d-none d-md-flex">
                <!-- spacer col -->
            </div>
            <div class="col px-3 px-md-0">
                <!-- toggler -->
                <button class="side-nav-btn-open navbar-toggler" id="toggler" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fi-xnsuxl-three-bars-solid"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row collapse show no-gutters d-flex h-100 position-relative">
            <div class="col-3 p-0 h-100 w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">
                <!-- fixed sidebar -->
                <div class="navbar-dark bg-dark text-white position-fixed h-100 align-self-start w-sidebar">
                    <h6 class="side-nav-header px-3 pt-3">
                        <button class="side-nav-btn navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fi-xnsuxl-three-bars-solid"></i>
                        </button>
                    </h6>
                    <ul class="nav flex-column flex-nowrap text-truncate">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">
                                <i class="fi-xnsuxl-house-solid"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Game" asp-action="Index">
                                <i class="fi-xnsuxl-gamepad-solid"></i>
                                Games
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="QuickWorkout" asp-action="Index">
                                <i class="fi-xnsuxl-beating-heart-solid"></i>
                                Workout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Resume">
                                <i class="fi-xwldxl-file-wide"></i>
                                Resume
                            </a>
                        </li>
                    </ul>
                    <div class="text-light nav-bottom small text-right">
                        <p>&copy; 2020</p>
                        <p>Aaron Law</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
