
<div class="container">
    <div class="row">
        <div class="col text-center">
            <a class="game-anchor" asp-controller="Game" asp-action="MrCatBadNight">
                <div class="icon">
                    <img class="game-image" src="~/images/cat-link-img.png" />
                </div>
                <p class="nes-text game-title">Mr. Cat's Bad Night</p>
            </a>
            <span class="nes-text is-error mobile-error">Game is not supported on mobile.</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col text-center">
            <a class="game-anchor" asp-controller="Game" asp-action="InfiniteRunner">
                <div class="icon">
                    <img class="game-image" src="~/images/cat-link-img.png" />
                </div>
                <p class="nes-text game-title">(WIP) Infinite Runner</p>
            </a>
        </div>
    </div>
</div>